*.log
*.pot
*.pyc
*.bak
*.bk
*.pdf
*.sqlite
*.zip
*.journal

n8n_data/binaryData/
n8n_data/git/
n8n_data/nodes/
n8n_data/ssh/
n8n_data/config

__pycache__/
staticfiles
media
**/migrations/*
/modeler/.config
outputs/
bin/
include/
lib/
